*{
	margin: 0 auto;
	padding: 0;
}

body{
	width: 100%;
}

#main{
	width: 1024px;
	margin-top: 40px;
}


#mainleft{
	display: inline-block;
	width: 718px;
	/*height: 378px;*/
	/*border: 1px solid red;*/
	margin-left: 32px;
}

#mainright{
	display: inline-block;
	width: 233px;
	height: 378px;
	/*border: 1px solid red;*/
	margin-left: 18px;
	vertical-align: top;
}

#focuspiciframe iframe{
	width: 718px;
	height: 378px;
}

#hot{
	margin-top: 31px;
	width: 718px;
	
}

.title{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #1d69ca;
	
}

.hotpic{
	margin-top: 10px;
	/*border: 1px solid red;*/
	width:718px;
	height: 300px;

}

.hotpic1{
	display: inline-block;
	width: 300px;
	height: 300px;
	background-color: #f6f6f6;
	margin: 0;
	vertical-align: top;
	margin-left: 16px;
	overflow: hidden;
}

.hotpic1div1{
	width: 300px;
	height: 241px;
	overflow: hidden;
}

.hotpicdiv1{
	width: 177px;
	height: 92px;
	overflow: hidden;
}


.hotpicright{
	display: inline-block;
	width: 370px;
	height: 300px;
	margin-left: 0px;
	vertical-align: top;
}


.hotpic2{
	display: inline-block;
	background-color: #f6f6f6;
	width: 176px;
	height: 142px;
	vertical-align: top;
	overflow: hidden;
}

.hotpic3{
	display: inline-block;
	background-color: #f6f6f6;
	width: 176px;
	height: 142px;
	vertical-align: top;
	overflow: hidden;
}

.hotpic4{
	display: inline-block;
	background-color: #f6f6f6;
	width: 176px;
	height: 142px;
	margin-top: 15px;
	vertical-align: top;
	overflow: hidden;
}

.hotpic5{
	display: inline-block;
	background-color: #f6f6f6;
	width: 176px;
	height: 142px;
	margin-top: 15px;
	vertical-align: top;
	overflow: hidden;
}


.infotxt{
	width: 90%;
	height: 25px;
	font-family: "微软雅黑";
	font-size: 11px;
	color: #1d69ca;
	margin-top: 5px;
	padding-left: 5px;
	vertical-align:middle;
}

.hotname{
	width: 100%;
	height: 25px;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #ff6501;
	
}
/*-----------------------广告----------------------------*/
.guanggao1{
	width: 100%;
	height: 91px;
	background-image: url(../img/gg/images/dujins_03.png);
	margin-top: 25px;
}

.guanggao2{
	width: 100%;
	height: 118PX;
	background-image: url(../img/gg/images/quanjude_21.jpg);
	margin-top: 6px;
}

.guanggao3{
	width: 100%;
	height: 91px;
	/*border: 1px solid red;*/
	margin-top: 10px;
	background-image: url(../img/gg/images/zongzi_24.jpg);
}

/*--------------------周边-----------------------*/
#zhoubian{
	margin-top: 31px;
	/*width: 718px;*/
}


.zhoubianpicdiv{
	margin-top: 10px;
	/*border: 1px solid red;*/
	/*width:718px;*/
}

.zhoubianpic1{
	display: inline-block;
	width: 300px;
	height: 300px;
	background-color: #f6f6f6;
	margin: 0;
	vertical-align: top;
	margin-left: 16px;
	overflow: hidden;
}

.zhoubianpicright{
	display: inline-block;
	width: 370px;
	height: 300px;
	margin-left: 0px;
	vertical-align: top;
}

.zhoubianpic2,.zhoubianpic3,.zhoubianpic4,.zhoubianpic5,.zhoubianpic6,.zhoubianpic7,.zhoubianpic8,.zhoubianpic9{
	display: inline-block;
	background-color: #f6f6f6;
	width: 170px;
	height: 142px;
	margin-top: 7px;
	vertical-align: top;
	overflow: hidden;
}


.zhoubianpic1div1{
	width: 300px;
	height: 241px;
	overflow: hidden;
}

.zhoubianpicdiv1{
	width: 177px;
	height: 92px;
	overflow: hidden;
}

.zhoubianinfotxt{
	width: 90%;
	height: 25px;
	font-family: "微软雅黑";
	font-size: 11px;
	color: #1d69ca;
	margin-top: 5px;
	padding-left: 5px;
	vertical-align:middle;
}

.zhoubianname{
	width: 100%;
	height: 25px;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #ff6501;
	
}


/*-------------------------------快捷导航栏--------------------------------*/
.kuaijiedaohang{
	width: 100%;
	height: 255px;
	-webkit-box-shadow:0 1px 7px rgba(0, 0, 0, .2);  
 	-moz-box-shadow:0 1px 7px rgba(0, 0, 0, .2);  
  	box-shadow:0 1px 7px rgba(0, 0, 0, .2); 
}


.kuaijiedaohang ul{
	display: block;
	width: 198px;
	height: 227px;
	list-style-type: none;
}
.kuaijiedaohang ul li{
	display: block;
	width: 100%;
	height: 40px;
	background-image: url(../img/images/kuansuxuanze_03.png);
	background-repeat: no-repeat;
	line-height: 40px;
	background-position: left center;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #000000;
	padding-left:47px ;
	margin-left: 25px;
}

.kuaijiedaohang li:nth-of-type(2){
	background-image: url(../img/images/kuansuxuanze_06.png);
}
.kuaijiedaohang li:nth-of-type(3){
	background-image: url(../img/images/kuansuxuanze_09.png);
}
.kuaijiedaohang li:nth-of-type(4){
	background-image: url(../img/images/kuansuxuanze_12.png);
}
.kuaijiedaohang li:nth-of-type(5){
	background-image: url(../img/images/kuansuxuanze_15.png);
}
.kuaijiedaohang li:nth-of-type(6){
	background-image: url(../img/images/kuansuxuanze_17.png);
}

.kuaijiedaohang a{
	text-decoration: none;
	color: black;
	transition: all 0.5s ease-out 0s; 
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	display: inline-block;
	width: 100px;
	height: 40px;
	/*padding-left: 20px;*/
	text-align: center;
}

.kuaijiedaohang a:hover{
	color: #ffffff;
	background-color: #1d69ca;
	width: 80px;
}

/*--------------------------下面的是底部部分------------------------------*/
.bottom{
	width: 100%;
	height: 75px;
	background-color: rgb(148,148,148);
	margin-top: 10px;
}

.bottom ul{
	display: block;
	width: 1024px;
	text-align: center;
}

.bottom ul li{
	display: inline-block;
	width: 100px;
	color: rgba(0,0,0,0.52);
	font-family: "微软雅黑";
	font-size: 12px;
	margin-top: 20px;
}





















